<link rel="import" href="../../juicy-html.html">

<link rel="import" href="../../../polymer-ui-menu/polymer-ui-menu.html">
<link rel="import" href="../../../polymer-ui-menu-item/polymer-ui-menu-item.html">
<polymer-element name="my-app">
  <template>

    <link rel="stylesheet" href="../../../polymer-ui-base-css/base.css">
    <style>
      polymer-ui-menu {
        width: 300px;
      }
    </style>
    <template bind="{{ viewmodel }}">
      <template is="juicy-html" content="{{ subpage.html }}"></template>
    </template>
    <!-- This should work, as well:
    <template bind="{{ viewmodel }}" is="juicy-html" content="{{ viewmodel.subpage.html }}"></template> 
    but it don't. Let's leave it fo further investigation. (tomalec)
    -->

  </template>

  <script>
    Polymer('my-app', {
      viewmodel: {
        subpage: {
          username: 'World',
          menuItems: [
            {label: "Item 1", icon: "add"},
            {label: "Item 2", icon: "settings"},
            {label: "Item 3", icon: "trash"},
            {label: "Item 4", icon: "briefcase"}
          ],
          html: './partials/page_3.html'
        }
      }
    });
  </script>
</polymer-element>