
<link rel="import" href="../../../polymer/polymer.html">
<link rel="import" href="../../juicy-html.html">

<link rel="stylesheet" href="../../../paper-menu/paper-menu-shared.css">
<link rel="stylesheet" href="../../../paper-item/paper-item-shared.css">

<!-- <link rel="import" href="../../../paper-icons/paper-icons.html">-->
<link rel="import" href="../../../paper-menu/paper-menu.html">
<link rel="import" href="../../../paper-item/paper-item.html">
<link rel="import" href="../../../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../iron-icons/iron-icons.html">

<dom-module id="my-app">
  <template>
    <h2>My-app custom element</h2>
    <style>
      paper-menu {
        width: 300px;
      }
    </style>
    <template is="juicy-html" content$="{{viewmodel.html}}" model="{{viewmodel}}" on-stamped="stamped"></template>

  </template>
</dom-module>
<script>
  Polymer({
    is: "my-app",
    behaviors: [Polymer.Templatizer],

    ready: function() {
      this.viewmodel= {
        username: 'World',
        menuItems: [
          {label: "Item 1", icon: "add"},
          {label: "Item 2", icon: "settings"},
          {label: "Item 3", icon: "delete"},
          {label: "Item 4", icon: "work"}
        ],
        html: './partials/page_3.html'
      }
    },
    stamped: function(event){
        // Play with Polymer's templating voodoo
    }

  });
</script>
